<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="compmobiles.projet">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Arrosage">
        <service
            android:name=".NotificationArrosageService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AlarmeActivity"
            android:exported="true" />
        <activity
            android:name=".EditerPlanteActivity"
            android:theme="@style/Theme.Arrosage.NoActionBar"
            android:label="Plante"
            android:exported="false" />
        <activity
            android:name=".ListeArrosageActivity"
            android:exported="true"
            android:label="Plantes à arroser"
            android:theme="@style/Theme.Arrosage.NoActionBar" />
        <activity
            android:name=".ListePlantesActivity"
            android:exported="true"
            android:label="Arrosage"
            android:theme="@style/Theme.Arrosage.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>